# Class And Objects

In [1]:
class LotteryPlayer:
    def __init__(self):
        self.name = "Arjun"
        self.numbers =(1,2,3,4,5)
        
    def total(self):
        return sum(self.numbers)

In [2]:
player = LotteryPlayer()

In [3]:
player.name

'Arjun'

In [4]:
player.numbers

(1, 2, 3, 4, 5)

In [5]:
print(player.total())

15

In [6]:
player1 = LotteryPlayer()

In [7]:
player1.name = "Sachin"

In [8]:
player.name

'Arjun'

In [9]:
#player and player 1 are different instances of self

In [15]:
# we can pass a parameter to init method to change the name


class LotteryPlayer:
    def __init__(self,name):
        self.name = name
        self.numbers = (1,2,3,4,5)
    
    def total(self,numbers):
        
        return sum(self.numbers)

In [16]:
player2 =LotteryPlayer("Sachin")

In [17]:
player2.name

'Sachin'

In [18]:
class Student:
    def __init__(self,name,school):
        self.name = name
        self.school = school
        self.marks = []
        
    def average(self):
        return sum(self.marks) / len(self.marks)
    
    def go_to_school(self):
        print("I'm going to{}.".format(self.school))

In [19]:
anna = Student("Anna","MIT")

In [20]:
anna.go_to_school()

I'm going toMIT.

In [21]:
anna.marks.append(100)
anna.marks.append(90)
anna.marks.append(800)

In [22]:
anna.marks

[100, 90, 800]

In [23]:
anna.average()

330.0

# class method

In [ ]:
# when we dont have an object parameter we will get an error

In [31]:
class Student:
    def __init__(self,name,school):
        self.name = name
        self.school = school
        self.marks = []
        
    def average(self):
        return sum(self.marks) / len(self.marks)
    
    def go_to_school():
        print("I'm going to School")

In [32]:
adam = Student("adam","USC")

In [33]:
adam.name

'adam'

In [34]:
adam.go_to_school()

TypeError: go_to_school() takes 0 positional arguments but 1 was given

here no argument needed in the function but still it expects becayuse, when there is object.method self always gets passed in
it works like ada.go_to_school(adam) so we get an error 
we can fix this by telling python we dont need self by declaring the class method

In [40]:
class Student:
    def __init__(self,name,school):
        self.name = name
        self.school = school
        self.marks = []
        
    def average(self):
        return sum(self.marks) / len(self.marks)
    @classmethod
    def go_to_school(cls):
        print("I'm going to School")
        print("I'm a {}.".format(cls))

In [42]:
adam = Student("adam","USC")

In [43]:
adam.go_to_school()

I'm going to School
I'm a <class '__main__.Student'>.

In [39]:
# wehn we declare classmethod, what we pass is not object but the class itself

# Static Method

In [47]:
class Student:
    def __init__(self,name,school):
        self.name = name
        self.school = school
        self.marks = []
        
    def average(self):
        return sum(self.marks) / len(self.marks)
    @staticmethod
    def go_to_school():
        print("I'm going to School")

In [48]:
adam = Student("adam","USC")

In [50]:
ram = Student("Ram","UTD")

In [49]:
adam.go_to_school()

I'm going to School

In [51]:
ram.go_to_school()

I'm going to School

# No Need object, call directly using class name

In [52]:
Student.go_to_school()

I'm going to School

# Inheritance

In [72]:
class Student:
    def __init__(self,name,school):
        self.name = name
        self.school = school
        self.marks= []
        
    def average(self):
        return sum(self.marks) / len(self.marks)
    
    def friend(self,friend_name):
        return Student(friend_name, self.school)

In [74]:
adam = Student("adam","USC")

In [75]:
adam.marks=[20,25,44,50]

In [76]:
adam.marks

[20, 25, 44, 50]

In [78]:
friend = adam.friend("mona")

In [79]:
friend.school

'USC'

In [80]:
friend.marks

[]

In [81]:
friend.name

'mona'

In [82]:
class WorkingStudent(Student):
    #this inherits name, school, marks from student class
    #init method of a working student will be name, school & salary
    def __init__(self, name,school,salary):
        #we need to declare super class as Student class is super since we are inheriting name, school, salary, marks from that 
        # __init__ method
        super().__init__(name,school)
        self.salary = salary

In [83]:
anna = WorkingStudent("Anna","UTD",1200)

In [84]:
anna.marks=[20]

In [85]:
anna.school

'UTD'

In [86]:
friend = anna.friend("greg")

In [87]:
friend.marks

[]

In [88]:
friend.school

'UTD'

In [90]:
friend.name

'greg'

In [5]:
class Employee:
    no_of_emp=0
    raise_amt=1.04
    
    def __init__(self,first,last,pay):
        self.first = first
        self.last = last
        self.pay = pay
        
        Employee.no_of_emp += 1
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * selff.raise_amt)

In [6]:
emp1 = Employee('david','kaz','100')

In [8]:
emp1.no_of_emp

1

In [9]:
emp1.raise_amt

1.04

In [10]:
raise_amt = 1.05

In [11]:
emp1.raise_amt

1.04

# work with class instead of instance

In [15]:
class Employee:
    no_of_emp=0
    raise_amt=1.04
    
    def __init__(self,first,last,pay):
        self.first = first
        self.last = last
        self.pay = pay
        
        Employee.no_of_emp += 1
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * selff.raise_amt)
        
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amt=amount

In [16]:
emp1 = Employee('david','kaz','100')

In [17]:
emp1.raise_amt

1.04

In [18]:
Employee.set_raise_amt(1.05)

In [19]:
emp1.raise_amt

1.05

In [20]:
emp1.pay

'100'

In [21]:
emp_str_1 = 'john-dave-1200'

In [22]:
# take this employee comes as sting , parse it by removing - and return employee as class

In [26]:
class Employee:
    no_of_emp=0
    raise_amt=1.04
    
    def __init__(self,first,last,pay):
        self.first = first
        self.last = last
        self.pay = pay
        
        Employee.no_of_emp += 1
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * selff.raise_amt)
        
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amt=amount
        
    @classmethod
    def from_string(cls,emp_str):
        first,last,pay = emp_str.split('-')
        return cls(first,last,pay)

In [27]:
emp_str_1 = 'john-dave-1200'

In [28]:
new_emp = Employee.from_string(emp_str_1)

In [30]:
new_emp.pay

'1200'

# A method is a static method if you dont access the instance or thee class anywhere within the function

In [31]:
class Employee:
    no_of_emp=0
    raise_amt=1.04
    
    def __init__(self,first,last,pay):
        self.first = first
        self.last = last
        self.pay = pay
        
        Employee.no_of_emp += 1
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * selff.raise_amt)
        
    @classmethod
    def set_raise_amt(cls,amount):
        cls.raise_amt=amount
        
    @classmethod
    def from_string(cls,emp_str):
        first,last,pay = emp_str.split('-')
        return cls(first,last,pay)
    @staticmethod
    def is_workday(day):
        if day.weekday() == 5 or day.weekday() == 6:
            return False
        return True

In [32]:
import datetime

In [33]:
my_date = datetime.date(2016,6,11)

In [35]:
my_date1 = datetime.date(2016,5,11)

In [34]:
print(Employee.is_workday(my_date))

False

In [36]:
print(Employee.is_workday(my_date1))

True

# Inheritance

In [2]:
class Employee:
    no_of_emp=0
    raise_amt=1.04
    
    def __init__(self,first,last,pay):
        self.first = first
        self.last = last
        self.pay = pay
        
        Employee.no_of_emp += 1
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * selff.raise_amt)

In [3]:
class Developer(Employee):
    pass

In [4]:
dev1 = Developer('sam','jam',3000)

In [5]:
dev1.pay

3000

In [6]:
#we want additional attiribute like prog lang to include in the dev invocation

In [15]:
class Developer(Employee):
    def __init__(self, first, last,pay,prog_lang):
        
        super().__init__(first,last,pay)
        self.prog_lang = prog_lang

In [16]:
dev2 = Developer('sam','daga',20,'Python')

In [17]:
dev2.prog_lang

'Python'

# access class like attribute instead of method using decorators

# use @property

In [11]:
class Employee:
    def __init__(self,first,last):
        self.first = first
        self.last = last
        self.email = first + '.' +last + '@gmail.com'
        
    def email(selff):
        return '{}.{}'.format(self.fist, self.lastst)
    
    def fullname(self):
        return '{} {}'.format(self.first,self.last)

In [12]:
emp1 = Employee('John','Jonny')

In [13]:
emp1.email

'John.Jonny@gmail.com'

In [14]:
emp1.fullname

In [15]:
emp1.fullname()

'John Jonny'

In [16]:
emp1.first = 'jim'

In [17]:
emp1.fullname()

'jim Jonny'

In [18]:
emp1.email

'John.Jonny@gmail.com'

In [ ]:
#no change for email

# to class the method like attribute us @property decorator

In [39]:
class Employee:
    def __init__(self,first,last):
        self.first = first
        self.last = last
        #self.email = first + '.' +last + '@gmail.com'
        
    @property    
    def email(self):
        return '{}.{}@gmail.com'.format(self.first, self.last)
    
    @property
    def fullname(self):
        return '{} {}'.format(self.first,self.last)

In [40]:
emp1 = Employee('John','Jonny')

In [41]:
emp1.fullname

'John Jonny'

In [42]:
emp1.first = 'jim'

In [43]:
emp1.fullname

'jim Jonny'

In [45]:
emp1.email

'jim.Jonny@gmail.com'

In [46]:
emp1.fullname = 'john cena'

AttributeError: can't set attribute

# we get error so we can use setter

In [49]:
class Employee:
    def __init__(self,first,last):
        self.first = first
        self.last = last
        #self.email = first + '.' +last + '@gmail.com'
        
    @property    
    def email(self):
        return '{}.{}@gmail.com'.format(self.first, self.last)
    
    @property
    def fullname(self):
        return '{} {}'.format(self.first,self.last)
    
    @fullname.setter
    def fullname(self, name):
        first, last = name.split(' ')
        self.first = first
        self.last = last

In [52]:
emp1 = Employee('john','boda')

In [53]:
emp1.fullname

'john boda'

In [54]:
emp1.email

'john.boda@gmail.com'

In [55]:
emp1.fullname='kalisi palya'

In [56]:
emp1.email

'kalisi.palya@gmail.com'

# @deleter

In [ ]:
class Employee:
    def __init__(self,first,last):
        self.first = first
        self.last = last
        #self.email = first + '.' +last + '@gmail.com'
        
    @property    
    def email(self):
        return '{}.{}@gmail.com'.format(self.first, self.last)
    
    @property
    def fullname(self):
        return '{} {}'.format(self.first,self.last)
    
    @fullname.setter
    def fullname(self, name):
        first, last = name.split(' ')
        self.first = first
        self.last = last
        
    @fullname.deleter
    def fullname()